img{
    height:500px;
    width: 250px;
    border: 5px solid black;
}
body{
    text-align:center;
}
h1{
    color:maroon;
}
body{
    background-color:lightgreen;
    animation-name:colorChange;
    animation-duration: 3s;
animation-iteration-count: infinite;
}
@keyframes colorChange{
    0%{
        background-color:lightgreen;
    }
    25%{
        background-color:lightyellow;
    }
    50%{
        background-color:lightblue;
    }
    75%{
        background-color:grey;
    }
    100%{
        background-color:red;
    }
}
